# This is a list of the massive collection of AviSynth builtins.
# It is based on the AviSynth 2.6 documentation.
"meta":
  "avisynth":
    # The version of AviSynth these builts cover
    "version": "2.60"
"keyword":
  "control": [
    "return"
    "global"
    "try"
    "catch"
  ]
"function":
  "support":
    "numeric": [
      "Max"
      "Min"
      "MulDiv"
      "Floor"
      "Ceil"
      "Round"
      "Sin"
      "Cos"
      "Tan"
      "Asin"
      "Acos"
      "Atan"
      "Atan2"
      "Sinh"
      "Cosh"
      "Tanh"
      "Fmod"
      "Pi"
      "Tau"
      "Exp"
      "Log"
      "Log10"
      "Pow"
      "Sqrt"
      "Abs"
      "Sign"
      "Int"
      "Frac"
      "Float"
      "Rand"
      "Spline"
      "ContinuedNumerator"
      "ContinuedDenominator"
      "BitAnd"
      "BitNot"
      "BitOr"
      "BitXor"
      "BitLShift"
      "BitShl"
      "BitSal"
      "BitRShiftL"
      "BitRShiftU"
      "BitShr"
      "BitRShiftA"
      "BitRShiftS"
      "BitSar"
      "BitLRotate"
      "BitRol"
      "BitRRotate"
      "BitRor"
      "BitChange"
      "BitChg"
      "BitClear"
      "BitClr"
      "BitSet"
      "BitTest"
      "BitTst"
    ]
    "string": [
      "LCase"
      "UCase"
      "StrLen"
      "RevStr"
      "LeftStr"
      "RightStr"
      "MidStr"
      "FindStr"
      "FillStr"
      "StrCmp"
      "StrCmpi"
      "Chr"
      "Ord"
      "Time"
    ]
    "boolean": [
      "IsBool"
      "IsClip"
      "IsFloat"
      "IsInt"
      "IsString"
      "Exist"
      "Defined"
    ]
    "conversion": [
      "Value"
      "HexValue"
      "Hex"
      "String"
    ]
    "control": [
      "Apply"
      "Eval"
      "Import"
      "Select"
      "Default"
      "Assert"
      "NOP"
      "UnDefined"
      "SetMemoryMax"
      "SetWorkingDir"
      "SetPlanarLegacyAlignment"
    ]
    "script": [
      "ScriptName"
      "ScriptFile"
      "ScriptDir"
    ]
    "version": [
      "VersionNumber"
      "VersionString"
    ]
    "runtime": [
      "AverageLuma"
      "AverageChromaU"
      "AverageChromaV"
      "RGBDifference"
      "LumaDifference"
      "ChromaUDifference"
      "ChromaVDifference"
      "RGBDifferenceFromPrevious"
      "YDifferenceFromPrevious"
      "UDifferenceFromPrevious"
      "VDifferenceFromPrevious"
      "RGBDifferenceToNext"
      "YDifferenceToNext"
      "UDifferenceToNext"
      "VDifferenceToNext"
      "YPlaneMax"
      "UPlaneMax"
      "VPlaneMax"
      "YPlaneMin"
      "UPlaneMin"
      "VPlaneMin"
      "YPlaneMedian"
      "UPlaneMedian"
      "VPlaneMedian"
      "YPlaneMinMaxDifference"
      "UPlaneMinMaxDifference"
      "VPlaneMinMaxDifference"
    ]
    "clip": [
      "Width"
      "Height"
      "FrameCount"
      "FrameRate"
      "FrameRateNumerator"
      "FrameRateDenominator"
      "AudioRate"
      "AudioLength"
      "AudioLengthF"
      "AudioChannels"
      "AudioBits"
      "IsAudioFloat"
      "IsAudioInt"
      "IsPlanar"
      "IsRGB"
      "IsRGB24"
      "IsRGB32"
      "IsYUV"
      "IsYUY2"
      "IsYV12"
      "IsFieldBased"
      "IsFrameBased"
      "IsInterleaved"
      "GetParity"
      "HasAudio"
      "HasVideo"
    ]
    "plugin": [
      "LoadPlugin"
      "LoadVirtualDubPlugin"
      "LoadVFAPIPlugin"
      "LoadCPlugin"
      "Load_Stdcall_Plugin"
    ]
    "filter":
      "source": [
        "AVISource", "OpenDMLSource", "AVIFileSource"
        "DirectShowSource"
        "ImageReader", "ImageSource", "ImageSourceAnim"
        # "Import" is for some reason listed here in the doc. It's also listed
        # as a control function, so skip it here.
        "ImageWriter"
        "SegmentedAVISource", "SegmentedDirectShowSource"
        "SoundOut"
        "WAVSource"
      ]
      "color": [
        "ColorYUV"
        "ConvertBackToYUY2", "ConvertToRGB", "ConvertToRGB24", "ConvertToRGB32"
        "ConvertToYUY2", "ConvertToY8", "ConvertToYV411", "ConvertToYV12",
        "ConvertToYV16", "ConvertToYV24"
        "FixLuminance"
        "Greyscale"
        "Invert"
        "Levels"
        "Limiter"
        "MergeARGB", "MergeRGB"
        "Merge", "MergeChroma", "MergeLuma"
        "RGBAdjust"
        "ShowAlpha", "ShowRed", "ShowGreen", "ShowBlue"
        "SwapUV", "UToY", "UToY8", "VToY", "VToY8", "YToUV"
        "Subtract"
        "Tweak"
      ]
      "overlay": [
        "ColorKeyMask"
        "Layer"
        "Mask"
        "MaskHS"
        "Overlay"
        "ResetMask"
      ]
      "geometric": [
        "AddBorders"
        "Crop", "CropBottom"
        "FlipHorizontal", "FlipVertical"
        "Letterbox"
        # "Overlay" is doubled here in the docs for some reason. Not sure why.
        "ReduceBy2", "HorizontalReduceBy2", "VerticalReduceBy2"
        "BilinearResize", "BicubicResize", "BlackmanResize", "GaussResize"
        "LanczosResize", "Lanczos4Resize", "PointResize", "SincResize",
        "Spline16Resize", "Spline36Resize", "Spline64Resize"
        "SkewRows"
        "TurnLeft", "TurnRight", "Turn180"
      ]
      "pixel": [
        "Blur", "Sharpen"
        "GeneralConvolution"
        "SpatialSoften", "TemporalSoften"
        "FixBrokenChromaUpsampling"
      ]
      "timeline": [
        "AlignedSplice", "UnalignedSplice"
        "AssumeFPS", "AssumeScaledFPS", "ChangeFPS", "ConvertFPS"
        "DeleteFrame"
        "Dissolve"
        "DuplicateFrame"
        "FadeIn0", "FadeOut0", "FadeIn", "FadeOut", "FadeIn2", "FadeOut2"
        "FadeIO0", "FadeIO", "FadeIO2"
        "FreezeFrame"
        "Interleave"
        "Loop"
        "Reverse"
        "SelectEven", "SelectOdd"
        "SelectEvery"
        "SelectRangeEvery"
        "Trim"
      ]
      "interlace": [
        "AssumeFrameBased", "AssumeFieldBased"
        "AssumeTFF", "AssumeBFF"
        "Bob"
        "ComplementParity"
        "DoubleWeave"
        "PeculiarBlend"
        "Pulldown"
        "SeparateColumns", "SeparateRows"
        "SeparateFields"
        "SwapFields"
        "Weave"
        "WeaveColumns", "WeaveRows"
      ]
      "audio": [
        "Amplify", "AmplifydB"
        "AssumeSampleRate"
        "AudioDub", "AudioDubEx"
        "AudioTrim"
        "ConvertToMono"
        "ConvertAudioTo8bit", "ConvertAudioTo16bit", "ConvertAudioTo24bit"
        "ConvertAudioTo32bit", "ConvertAudioToFloat"
        "DelayAudio"
        "EnsureVBRMP3Sync"
        "GetChannel"
        "KillAudio"
        "KillVideo"
        "MergeChannels"
        "MixAudio"
        "Normalize"
        "ResampleAudio"
        "SSRC"
        "SuperEQ"
        "TimeStretch"
      ]
      "meta": [
        "Animate", "ApplyRange"
        "TCPDeliver"
      ]
      "conditional": [
        "ConditionalFilter", "FrameEvaluate", "ScriptClip", "ConditionalSelect"
        "ConditionalReader"
        "WriteFile", "WriteFileIf", "WriteFileStart", "WriteFileEnd"
      ]
      "debug": [
        "BlankClip", "Blackness"
        "ColorBars", "ColorBarsHD"
        "Compare"
        "Echo"
        "Histogram"
        "Info"
        "Preroll"
        "MessageClip"
        "ShowFiveVersions"
        "ShowFrameNumber", "ShowSMPTE", "ShowTime"
        "StackHorizontal", "StackVertical"
        "Subtitle"
        "Tone"
        "Version"
      ]
"variable":
  "support":
    "control": [
      "OPT_AllowFloatAudio"
      "OPT_UseWaveExtensible"
      "OPT_VDubPlanarHack"
      "OPT_dwChannelMask"
      "OPT_AVIPadScanlines"
    ]
