# This is a list of the massive collection of AviSynth builtins.
"keyword":
  "control": [
    "return"
    "global"
    "try"
    "catch"
  ]
"support":
  "function":
    "numeric": [
      "Max"
      "Min"
      "MulDiv"
      "Floor"
      "Ceil"
      "Round"
      "Sin"
      "Cos"
      "Pi"
      "Exp"
      "Log"
      "Pow"
      "Sqrt"
      "Abs"
      "Sign"
      "Int"
      "Frac"
      "Float"
      "Rand"
      "Spline"
    ]
    "string": [
      "LCase"
      "UCase"
      "StrLen"
      "RevStr"
      "LeftStr"
      "RightStr"
      "MidStr"
      "FindStr"
      "Chr"
      "Time"
    ]
    "boolean": [
      "IsBool"
      "IsClip"
      "IsFloat"
      "IsInt"
      "IsString"
      "Exist"
      "Defined"
    ]
    "conversion": [
      "Value"
      "HexValue"
      "String"
    ]
    "control": [
      "Apply"
      "Eval"
      "Import"
      "Select"
      "Default"
      "Assert"
      "NOP"
      "SetMemoryMax"
      "SetWorkingDir"
      "SetPlanarLegacyAlignment"
    ]
    "version": [
      "VersionNumber"
      "VersionString"
    ]
    "runtime": [
      "AverageLuma"
      "AverageChromaU"
      "AverageChromaV"
      "RGBDifference"
      "LumaDifference"
      "ChromaUDifference"
      "ChromaVDifference"
      "RGBDifferenceFromPrevious"
      "YDifferenceFromPrevious"
      "UDifferenceFromPrevious"
      "VDifferenceFromPrevious"
      "RGBDifferenceToNext"
      "YDifferenceToNext"
      "UDifferenceToNext"
      "VDifferenceToNext"
      "YPlaneMax"
      "UPlaneMax"
      "VPlaneMax"
      "YPlaneMin"
      "UPlaneMin"
      "VPlaneMin"
      "YPlaneMedian"
      "UPlaneMedian"
      "VPlaneMedian"
      "YPlaneMinMaxDifference"
      "UPlaneMinMaxDifference"
      "VPlaneMinMaxDifference"
    ]
    "clip": [
      "Width"
      "Height"
      "FrameCount"
      "FrameRate"
      "FrameRateNumerator"
      "FrameRateDenominator"
      "AudioRate"
      "AudioLength"
      "AudioLengthF"
      "AudioChannels"
      "AudioBits"
      "IsAudioFloat"
      "IsAudioInt"
      "IsPlanar"
      "IsRGB"
      "IsRGB24"
      "IsRGB32"
      "IsYUV"
      "IsYUY2"
      "IsYV12"
      "IsPlanar"
      "IsFieldBased"
      "IsFrameBased"
      "IsInterleaved"
      "GetParity"
      "HasAudio"
      "HasVideo"
    ]
    "plugin": [
      "LoadPlugin"
      "LoadVirtualDubPlugin"
      "LoadVFAPIPlugin"
      "LoadCPlugin"
      "Load_Stdcall_Plugin"
    ]
    "filter": [
      #"source": [
        "AVISource", "OpenDMLSource", "AVIFileSource"
        "DirectShowSource", "DirectShowSource"
        "ImageReader", "ImageSource"
        "Imagewriter"
        "Import"
        "SegmentedAVISource", "SegmentedDirectShowSource"
        "WAVSource"
      #]
      #"color": [
        "ColorYUV"
        "ConvertToRGB", "ConvertToYUY2", "ConvertToYV12", "ConvertBackToYUY2",
        "ConvertToRGB32", "ConvertToRGB24"
        "FixLuminance"
        "Greyscale"
        "Invert"
        "Levels"
        "Limiter"
        "MergeARGB", "MergeRGB"
        "Merge", "MergeChroma", "MergeLuma"
        "RGBAdjust"
        "ShowAlpha", "ShowRed", "ShowGreen", "ShowBlue"
        "SwapUV", "UToY", "VToY", "YToUV"
        "Tweak"
      #]
      #"overlay": [
        "ColorKeyMask"
        "Layer"
        "Mask"
        "Overlay"
        "ResetMask"
        "Subtract"
      #]
      #"geometric": [
        "AddBorders"
        "Crop", "CropBottom"
        "FlipHorizontal", "FlipVertical"
        "Letterbox"
        "ReduceBy2", "HorizontalReduceBy2", "VerticalReduceBy2"
        "BilinearResize", "BicubicResize", "BlackmanResize", "GaussResize"
        "LanczosResize", "Lanczos4Resize", "PointResize", "Spline16Resize"
        "Spline36Resize", "Spline64Resize"
        "TurnLeft", "TurnRight", "Turn180"
      #]
      #"pixel": [
        "Blur", "Sharpen"
        "GeneralConvolution"
        "SpatialSoften", "TemporalSoften"
        "FixBrokenChromaUpsampling"
      #]
      #"timeline": [
        "AlignedSplice", "UnalignedSplice"
        "AssumeFPS", "AssumeScaledFPS", "ChangeFPS", "ConvertFPS"
        "DeleteFrame"
        "Dissolve"
        "DuplicateFrame"
        "FadeIn0", "FadeOut0", "FadeIn", "FadeOut", "FadeIn2", "FadeOut2"
        "FadeIO0", "FadeIO", "FadeIO2"
        "FreezeFrame"
        "Interleave"
        "Loop"
        "Reverse"
        "SelectEven", "SelectOdd"
        "SelectEvery"
        "SelectRangeEvery"
        "Trim"
      #]
      #"interlace": [
        "AssumeFrameBased", "AssumeFieldBased"
        "AssumeTFF", "AssumeBFF"
        "Bob"
        "ComplementParity"
        "DoubleWeave"
        "PeculiarBlend"
        "Pulldown"
        "SeparateFields"
        "SwapFields"
        "Weave"
      #]
      #"audio": [
        "Amplify", "AmplifydB"
        "AssumeSampleRate"
        "AudioDub", "AudioDubEx"
        "ConvertToMono"
        "ConvertAudioTo8bit", "ConvertAudioTo16bit", "ConvertAudioTo24bit"
        "ConvertAudioTo32bit", "ConvertAudioToFloat"
        "DelayAudio"
        "EnsureVBRMP3Sync"
        "GetChannel"
        "KillAudio"
        "KillVideo"
        "MergeChannels"
        "MixAudio"
        "Normalize"
        "ResampleAudio"
        "SSRC"
        "SuperEQ"
        "TimeStretch"
      #]
      #"meta": [
        "Animate", "ApplyRange"
        "ConditionalFilter", "FrameEvaluate", "ScriptClip"
        "ConditionalReader"
        "TCPDeliver"
        "WriteFile", "WriteFileIf", "WriteFileStart", "WriteFileEnd"
      #]
      #"debug": [
        "BlankClip", "Blackness"
        "ColorBars"
        "Compare"
        "Histogram"
        "Info"
        "MessageClip"
        "ShowFiveVersions"
        "ShowFrameNumber", "ShowSMPTE", "ShowTime"
        "ShowSMPTE"
        "ShowTime"
        "StackHorizontal", "StackVertical"
        "Subtitle"
        "Tone"
        "Version"
      #]
    ]
  "variable":
    "control": [
      "OPT_AllowFloatAudio"
      "OPT_UseWaveExtensible"
    ]
